main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vw;
  background-color: yellow;
  margin-top: 20px
}

.title {
  font-size: 80px;
  margin-bottom: 180px;
}

.start-button {
  height: 80px;
  width: 150px;
  font-size: 40px;
}




.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px
}

.game-screen {
  display: none;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vw;
  background-color: rgb(39, 136, 39);

}